# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [6]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
from functools import reduce
# dt_altana=pd.read_csv("atlanta_9-24-2016_9-30-2017.csv")
dt_baltimore=pd.read_csv("baltimore_9-24-2016_9-30-2017.csv")
dt_boston=pd.read_csv("boston_9-24-2016_9-30-2017.csv")
# dt_chicago=pd.read_csv("chicago_9-24-2016_9-30-2017.csv")
# dt_columbia=pd.read_csv("columbia_9-24-2016_9-30-2017.csv")
# dt_dallas=pd.read_csv("dallas_9-24-2016_9-30-2017.csv")
# dt_detroit=pd.read_csv("detroit_9-24-2016_9-30-2017.csv")
# dt_los_angeles=pd.read_csv("los-angeles_9-24-2016_9-30-2017.csv")
# dt_miami=pd.read_csv("miami_9-24-2016_9-30-2017.csv")
dt_new_york=pd.read_csv("new-york_9-24-2016_9-30-2017.csv")
dt_philadelphia_=pd.read_csv("philadelphia_9-24-2016_9-30-2017.csv")
# dt_sanfranssico=pd.read_csv("san-fransisco_9-24-2016_9-30-2017.csv")
# dt_st_louis =pd.read_csv("st-louis_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [8]:
# Clean your data here!
for col in dt_baltimore.columns:
    pct_missing = np.mean(dt_baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [9]:
for col in dt_boston.columns:
    pct_missing = np.mean(dt_boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [10]:
for col in dt_new_york.columns:
    pct_missing = np.mean(dt_new_york[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [11]:
for col in dt_philadelphia.columns:
    pct_missing = np.mean(dt_philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [17]:
# missing % for baltimore
total_cells_bal = np.product(dt_baltimore.shape)

missing_cells_bal = pd.isnull(dt_baltimore).sum()

total_missing_bal = missing_cells_bal.sum()

percentage_missing_bal = round((total_missing_bal/total_cells_bal), 2) *100

print(percentage_missing_bal, "% Missing cells from the data") 
# missing % for boston
total_cells_bo = np.product(dt_boston.shape)

missing_cells_bo = pd.isnull(dt_boston).sum()

total_missing_bo = missing_cells_bo.sum()
percentage_missing_bo = round((total_missing/total_cells_bo), 2) *100

print(percentage_missing_bo, "% Missing cells from the data") 

# missing % of philephidia

total_cells_phili = np.product(dt_philadelphia.shape)

missing_cells_phili = pd.isnull(dt_philadelphia).sum()

total_missing_phili = missing_cells_phili.sum()
percentage_missing_phili = round((total_missing_phili/total_cells_phili), 2) *100

print(percentage_missing_phili, "% Missing cells from the data") 

# missing % of newyork
total_cells_ny = np.product(dt_new_york.shape)

missing_cells_ny = pd.isnull(dt_new_york).sum()

total_missing_ny = missing_cells_ny.sum()
percentage_missing_ny = round((total_missing_ny/total_cells_ny), 2) *100

print(percentage_missing_ny, "% Missing cells from the data")

51.0 % Missing cells from the data
22.0 % Missing cells from the data
51.0 % Missing cells from the data
49.0 % Missing cells from the data

In [21]:
dt_baltimore_droping= dt_baltimore.drop(labels=["Color"],axis=1,inplace=False)
dt_baltimore_droping
print(dt_baltimore_droping.shape)

dt_boston_droping= dt_boston.drop(labels=["Color"],axis=1,inplace=False)
dt_boston_droping
print(dt_boston_droping.shape)

dt_philadelphia_droping= dt_philadelphia.drop(labels=["Color"],axis=1,inplace=False)
dt_philadelphia_droping
print(dt_philadelphia_droping.shape)

dt_new_york_droping= dt_new_york.drop(labels=["Color"],axis=1,inplace=False)
dt_new_york_droping
print(dt_new_york_droping.shape)

(153, 24)
(352, 24)
(57, 24)
(112, 24)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [7]:
# Combine the four dataframes into one!
data_frames=[dt_baltimore,dt_boston,dt_philadelphia,dt_new_york]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Commodity Name'],
                                            how='outer'), data_frames).fillna('void')
df_merged.shape()

NameError: name 'dt_philadelphia' is not defined

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [57]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

In [58]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!